.sg-nav .menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  clear: none;
}
.sg-nav .menu li {
  display: inline-block;
}
.sg-nav nav {
  margin: 0;
  padding: 0;
}
.sg-nav nav > * {
  float: left;
}
.sg-nav a, .sg-nav span {
  display: inline-block;
  padding: 8px 10px;
  height: 34px;
}
.sg-nav a > span {
  padding: 0;
}

.sg-center {
  display: table;
  width: 100%;
  height: 100%;
}
.sg-center .center-y {
  display: table-cell;
  vertical-align: middle;
}

.sg-abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sg-heading {
  margin: 1em 0;
}
.sg-heading:first-child {
  margin-top: 0;
}

.sg-block {
  position: relative;
  margin-bottom: 1em;
}
.sg-block img {
  max-width: 100%;
}
.sg-block > .block-thumb {
  position: relative;
}
.sg-block > .block-body {
  position: relative;
}
.sg-block .thumb-over {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.sg-block.boxed {
  background: #fff;
}
.sg-block.boxed > .block-body {
  padding: 15px;
}
.sg-block.boxed > .block-footer {
  padding: 5px 15px;
}
.sg-block.bordered {
  background: #fff;
  padding: 15px;
  border: #ddd solid 1px;
}
.sg-block.bordered.boxed > .block-body {
  padding: 0;
}
.sg-block.bordered.boxed > .block-footer {
  padding: 5px 0;
  border-top: #ddd solid 1px;
}
.sg-block.body-overlay > .block-body, .sg-block .block-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.sg-block.body-overlay > .block-body a, .sg-block .block-thumb-overlay a {
  color: #fff;
}
.sg-block.block-hor {
  display: table;
}
.sg-block.block-hor > div {
  display: table-cell;
  vertical-align: top;
}
.sg-block.block-hor > .block-body {
  padding-left: 15px;
}
.sg-block.block-hor > .block-thumb {
  margin: 0;
}
.sg-block.block-hor.split > div {
  width: 50%;
}
.sg-block.block-ver .block-thumb {
  margin-bottom: 20px;
}
.sg-block .block-action {
  position: absolute;
  top: 15px;
  right: 15px;
}
.sg-block .block-action.bottom {
  top: auto;
  bottom: 15px;
}

@media (max-width: 640px) {
  .sg-block.block-hor.break-sm {
    display: block;
  }
  .sg-block.block-hor.break-sm > div {
    display: block;
  }
  .sg-block.block-hor.break-sm > .block-body {
    padding: 0;
  }
}
.block-meta.inline-table {
  display: table;
}
.block-meta.inline-table > .meta {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.block-meta.inline-table > .meta img, .block-meta.inline-table > .meta .icon {
  margin-right: 5px;
}

@-webkit-keyframes showTab {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes showTab {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.sg-tabs, .sg-collapse {
  margin: 1em 0;
}
.sg-tabs > button, .sg-collapse > button {
  width: 100%;
  margin: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
}
.sg-tabs > .item-button, .sg-collapse > .item-button {
  display: block;
  cursor: pointer;
  margin-top: 1px;
  background: #eee;
  padding: 5px 10px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.sg-tabs > input, .sg-collapse > input {
  display: none;
}
.sg-tabs > input:checked + label + .item, .sg-collapse > input:checked + label + .item {
  display: block;
}
.sg-tabs > input:checked + label + .item > .content, .sg-collapse > input:checked + label + .item > .content {
  -webkit-animation: showTab 250ms ease-in-out;
  animation: showTab 250ms ease-in-out;
}
.sg-tabs > .item, .sg-collapse > .item {
  background: #fff;
  padding: 10px;
  display: none;
}

@media screen and (min-width: 768px) {
  .sg-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sg-tabs > .item-button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
  }
  .sg-tabs > input:checked + label {
    background: #fff;
    color: #5a5243;
  }
  .sg-tabs > .item {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

.sg-collapse > .item-button {
  background: #fff;
  color: #5a5243;
}

.sg-image-block.default .block-thumb {
  background-size: cover;
}
.sg-image-block.default .block-thumb img {
  opacity: 0;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
